[submodule "pack/git/start/vim-c-cpp-modern"]
	path = pack/git/start/vim-c-cpp-modern
	url = https://github.com/bfrg/vim-c-cpp-modern.git
[submodule "pack/git/start/undotree"]
	path = pack/git/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "pack/git/opt/vim-fugitive"]
	path = pack/git/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/git/opt/conflict-marker.vim"]
	path = pack/git/opt/conflict-marker.vim
	url = https://github.com/rhysd/conflict-marker.vim.git
[submodule "pack/git/start/vim-saveroot"]
	path = pack/git/start/vim-saveroot
	url = git@github.com:64-bitman/vim-saveroot.git
[submodule "pack/git/opt/mesonic"]
	path = pack/git/opt/mesonic
	url = https://github.com/igankevich/mesonic.git
[submodule "pack/git/start/mesonic"]
	path = pack/git/start/mesonic
	url = https://github.com/igankevich/mesonic.git
[submodule "pack/git/opt/lsp"]
	path = pack/git/opt/lsp
	url = https://github.com/yegappan/lsp.git
[submodule "pack/git/start/vim-dadbod"]
	path = pack/git/start/vim-dadbod
	url = https://github.com/tpope/vim-dadbod.git
