[submodule "pack/git/start/vim-cdroot"]
	path = pack/git/start/vim-cdroot
	url = https://github.com/mllg/vim-cdroot.git
[submodule "pack/git/start/vim9-stargate"]
	path = pack/git/start/vim9-stargate
	url = https://github.com/monkoose/vim9-stargate.git
[submodule "pack/git/start/vim-oscyank"]
	path = pack/git/start/vim-oscyank
	url = https://github.com/ojroques/vim-oscyank.git
[submodule "pack/git/opt/lsp"]
	path = pack/git/opt/lsp
	url = git@github.com:64-bitman/lsp.git
